<h2>{{ group.name }}</h2>
{% if group.description %}
  <p>{{ group.description }}</p>
{% endif %}
{% if group.display_end %}
  <p>Available until {{ group.display_end }}.</p>
{% endif %}
<table class="table">
    <tr>
        <th>{% if group.donation %}Amount{% else %}Quantity</th>{% endif %}
    </tr>
    {% if group.donation %}
      {% for product in grouped_products %}
        <tr>
          <td>${{ product.form.amount }}</td>
          <td>{{ product.name }}</td>
        </tr>
      {% endfor %}
    {% else %}
      {% for product in grouped_products %}
        {% if product.form.errors %}
          <tr>
            <td>FIXME: {{ product.form.errors }}</td>
          </tr>
        {% endif %}
        <tr>
          <td>{{ product.form.quantity }}</td>
          <td>${{ product.price }}</td>
          <td>
            {% if product.url %}
              <a href="{{ product.url }}">{{ product.name }}</a>
            {% else %}
              {{ product.name }}
            {% endif %}
          </td>
          {% if product.description %}
            <td>{{ product.description }}</td>
          {% endif %}
        </tr>
      {% endfor %}
    {% endif %}
</table>
