{% extends 'base.html' %}
{% block content %}
<h1>Review selected purchases</h1>

    {% if sale.complete %}
    <p>This sale has been completed.
    You can
<a href="{% url 'store' %}">Return to the Store</a>.
    </p>
    {% else %}
<p>Here's what you've asked to purchase.</p>
<p>If you want to make changes, use your browser's Back button to return
to the previous page.</p>
<p>If you've changed your mind completely, you can
<a href="{% url 'store' %}">Return to the Store</a>.</p>
    {% endif %}

<table border="0" class="table table-striped">
<thead>
  <tr>
    <th>Quantity</th>
    <th>Each</th>
    <th>Subtotal</th>
    <th>Item</th>
    <th>Description</th>
  </tr>
</thead>
<tbody>
    {% for item in sale.items.all %}
        <tr>
        <td> {# quantity #}
            {% if not item.product.group.donation %}
                {{ item.quantity }}
            {% endif %}
        </td>
        <td> {# each #}
            {% if not item.product.group.donation %}
            ${{ item.per_item_price }}
            {% endif %}
        </td>

        <td> {# subtotal #}
           ${{ item.amount }}
        </td>

        <td>{{ item.product.name }}</td>
        <td>{{ item.product.description }}</td>
        </tr>
    {% endfor %}
</tbody>
<tfoot>
    <tr>
        <th colspan="2" class="active">Total</th>
        <td class="success">${{ sale.total }}</td>
        <td colspan="3"></td>
    </tr>
</tfoot>
</table>

    {% if not sale.complete %}
<p>If this all looks good to you, click the big blue button:</p>

<form method="POST">
    {% csrf_token %}
<script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{ stripe_key }}"  {# pk_test_h1Rjaw8iMLGHiFGOna2JXaZd #}
    data-amount="{{ amount_in_cents }}"
    data-name="Voices Store"
    data-description="Misc. (${{ sale.total }})"
    data-image="{{ STATIC_URL }}img/Voices logo.png">
  </script>
</form>
    {% endif %}
{% endblock %}
