{% extends 'base.html' %}
{% block content %}
<h1>Review selected purchases</h1>

    {% if sale.status == SALE_COMPLETE %}
    <p>This sale has been completed.
    You can
<a href="{% url 'store' %}">Return to the Store</a>.
    </p>
    {% else %}
<p>Here's what you've asked to purchase.</p>
<p>If you want to make changes, click the red X to remove an item from your cart,
  or click the product link to change quantities.</p>
<p>If you've changed your mind completely, you can
<a href="{% url 'store' %}">Return to the Store</a>
  or <a href="{% url 'empty' %}">empty your cart</a>.
  </p>
    {% endif %}

<table border="0" class="table table-striped">
<thead>
  <tr>
    <th></th>
    <th>Quantity</th>
    <th>Each</th>
    <th>Subtotal</th>
    <th>Item</th>
    <th>Special instructions</th>
  </tr>
</thead>
<tbody>
    {% for item in lines %}
        <tr>
        <td>
          <form action="{% url 'remove' item.pk %}" method="post">
            {% csrf_token %}
            <button type="submit">
              <span class="remove">
                <span class="glyphicon glyphicon-remove"></span>
              </span>
              </button>
            </form>
        </td>
        <td> {# quantity #}
            {% if item.product.quantifiable %}
                {{ item.quantity }}
            {% endif %}
        </td>
        <td> {# each #}
            {% if item.product.pricing != PRICE_USER %}
            ${{ item.price.amount }}
            {% endif %}
        </td>

        <td> {# subtotal #}
           ${{ item.amount }}
        </td>

        <td>
          <a href="{% url 'product' item.product.slug %}">
            {{ item.product.name }}
          </a>
          {% if item.product.pricing == PRICE_MULTIPLE %}
            / {{ item.price.name }}
          {% endif %}
        </td>
        <td>
          {{ item.special_instructions }}
        </td>
        </tr>
    {% endfor %}
</tbody>
<tfoot>
    <tr>
        <th colspan="2" class="active">Total</th>
        <td class="success">${{ sale.total }}</td>
        <td colspan="3"></td>
    </tr>
</tfoot>
</table>

    {% if not sale.complete %}
<p>If this all looks good to you, click the big blue button:</p>

<form method="POST">
    {% csrf_token %}
<script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{ stripe_key }}"  {# pk_test_h1Rjaw8iMLGHiFGOna2JXaZd #}
    data-amount="{{ amount_in_cents }}"
    data-name="Voices Store"
    data-description="Misc. (${{ sale.total }})"
    data-image="{{ STATIC_URL }}img/Voices logo.png">
  </script>
</form>
    {% endif %}
{% endblock %}
