{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <h1>{{ title }}</h1>
  {% if products %}
    <form method='POST'>
        {% csrf_token %}

        {% regroup products by group as group_list %}
        {% for i in group_list %}
            {% with group=i.grouper grouped_products=i.list %}
                {% include 'store/group.html' %}
            {% endwith %}
        {% endfor %}

    <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  {% else %}
    <p>Nothing for sale right now.</p>
  {% endif %}
{% endblock %}
