{% extends 'base.html' %}{% load bootstrap3 i18n %}

{% block content %}
  <form method="post" class="form">
    {% csrf_token %} {% bootstrap_form form %}

    {% buttons %}
      <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Submit</button>
    {% endbuttons %}

  </form>

  <p><a href="https://login.persona.org/">Change my password</a></p>

  <p>{% trans 'The following e-mail addresses are associated with your account:' %}</p>

  <fieldset class="blockLabels">
    {% for emailaddress in user.emailaddress_set.all %}
      <div class="ctrlHolder">
        <label class="{% if emailaddress.primary %}primary_email{%endif%}">
          {{ emailaddress.email }}
          {% if emailaddress.verified %}
            <span class="verified">{% trans "Verified" %}</span>
          {% else %}
            <span class="unverified">{% trans "Unverified" %}</span>
          {% endif %}
          {% if emailaddress.primary %}<span class="primary">{% trans "Primary" %}</span>{% endif %}
        </label>
      </div>
    {% endfor %}
  </fieldset>
  <p><a href="{% url 'account_email' %}">Change email addresses</a></p>

  {% if not voicesuser.is_member %}
    <p>You are not authenticated as a voices member. If you are a member and would
    like to do that, you can do so <a href="{% url 'member_login' next=request.path %}">here</a>.</p>
  {% else %}
    <p>Voices member</p>
  {% endif %}
  {% if voicesuser.voices_staff %}
    <p>Voices staff</p>
  {% endif %}
{% endblock %}
