<!doctype html>{% load staticfiles browserid %}
<html lang="en">
<head>
    <title>{% block title %}Voices Store{% endblock %}</title>

    <link rel="shortcut icon"
          href="http://voiceschapelhill.org/favicon.ico" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.css">

    <link rel="stylesheet" href="{% static 'css/site.css' %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    {% browserid_css %}
</head>
<body>

    <!-- Wrap all page content here (for footer) -->
    <div id="wrap">


  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://voiceschapelhill.org"><img height="50px" src="{{ STATIC_URL }}img/Voices logo.png" alt="Voices"></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'store' %}">Store</a></li>
            {% if user.is_authenticated %}
              <li>{% browserid_logout text='Logout' %}</li>
              {% if user.is_staff %}
                  <li><a href="{% url 'staff_home' %}">Staff home</a></li>
                  <li><a href="/admin/">Admin</a></li>
              {% endif %}
            {% else %}
              <li>{% browserid_login text='Login'  %}</li>
            {% endif %}

            {% if cart %}
              <li>
                <span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;
                <a href="{% url 'review' %}">{{ cart.num_items }} item{{ cart.num_items|pluralize }}</a>
              </li>
            {% endif %}
            {% if not member_logged_in %}
              <li><a href="{% url 'member_login' next=request.path %}">Members</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

    <div class="voices-content">
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    </div>

    </div><!-- wrap -->

     <div id="footer">
      <div class="container">
        <p class="text-muted">&copy; Voices {% now "Y" %}</p>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    {% browserid_js %}
</body>
</html>
