{% extends 'base.html' %}

{% block content %}
    <h1>Staff home</h1>

    <h2>Product Group Reports</h2>
    <table class="table table-striped">
    <tbody>
    {% for group in product_groups %}
        <tr>
            <td>
                <a href="{% url 'group_report' group.pk %}">{{ group.name }}</a>
            </td>
            <td style="text-align: right">
                {% if not group.donation %}
                    {{ group.quantity_sold }}
                {% endif %}
            </td>
            <td style="text-align: right">
                ${{ group.total_sales }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

    <h2>
    <a href="{% url 'sales_report' %}">Individual sales</a>
    </h2>
{% endblock %}
